#!/usr/bin/make -f

#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

DKMS_VERSION = $(shell echo ${DEB_VERSION_UPSTREAM} | grep -o -E "[0-9]+(\.[0-9]+)*" | head -n1)

%:
	dh $@

override_dh_auto_build:
	sed -e "s/#DKMS_VERSION#/${DKMS_VERSION}/g" debian/sleepi3-dkms.postinst.in > debian/sleepi3-dkms.postinst
	sed -e "s/#DKMS_VERSION#/${DKMS_VERSION}/g" debian/sleepi3-dkms.prerm.in > debian/sleepi3-dkms.prerm

override_dh_auto_clean:
	rm -f debian/sleepi3-dkms.postinst
	rm -f debian/sleepi3-dkms.prerm

override_dh_install:
	dh_install Makefile dkms.conf rtc-ds1307-legacy.c usr/src/sleepi3-$(DKMS_VERSION)/

override_dh_auto_configure override_dh_auto_test override_dh_auto_install:
# do nothing

